<div id="img_container">

  <ul class="images-view clearfix">
    <li>
      <%= image_tag 'bird.png', size: '497x384'%>
      <div class="size disable">PNG (206.9 kB)</div>
    </li>
    <li>
      <%= image_tag 'bird.gif', size: '497x384'%>
      <div class="size disable">GIF (108.1 kB)</div>
    </li>
    <li>
      <%= image_tag 'bird.jpg', size: '497x384'%>
      <div class="size disable best">JPG (38.2 kB)</div>
    </li>
  </ul>

  <div>
    <button class="btn btn-large btn-primary show-size">Show Size</button>
  </div>
</div>